.alipay-ticket-use {
    margin-left: 40px;
    margin-top: 10px;
}
.alipay-ticket-use-title {
    margin-left: 40px;
    font-size: 16px;
    color: #418ac3;
    cursor: pointer;
}
.alipay-ticket-use-content {
    margin: 20px;
}