.card-ticket-search {
    display: flex;
    align-items: center;
}
.card-ticket-search-row {
    margin: 0 10px;
}
.card-ticket-content {
    margin: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #757575;
}