.release-the-lost {
    margin: 0 20px;
    width: 100%;
}
.release-the-lost-text {
    margin-left: 300px;
}
.release-the-lost-content {
    margin-top: 10px;
    padding: 50px 0 50px 0;
    background-color: #fff;
}
.release-the-lost-btn {
    margin-top: 40px;
    margin-left: 350px;
}